node_modules/

uploads/usuarios/**.jpg
uploads/usuarios/**.png
uploads/usuarios/**.pdf
uploads/usuarios/**.JPG

uploads/pedidos/**.jpg
uploads/pedidos/**.png
uploads/pedidos/**.pdf
uploads/pedidos/**.JPG

uploads/envios/**.jpg
uploads/envios/**.png
uploads/envios/**.pdf
uploads/envios/**.JPG

uploads/gastos/**.jpg
uploads/gastos/**.png
uploads/gastos/**.pdf
uploads/gastos/**.JPG